@font-face {
    font-family: "Averta";
    src: url("/fonts/AvertaStd-Regular.woff2") format("woff2"), url("/fonts/AvertaStd-Regular.woff")
        format("woff");
}

body, html {
    font-family: 'Averta Std', sans-serif;
    margin: 2% 3%;
}

#logo {
    width: 130px;
    float: left;
}

#header-titulos {
    margin: 0 20%;
}

#header-titulos a {
    color: grey;
    padding: 5px;
    text-decoration: none;
}

#vitrine {
    display: flex;
    /*margin: 0% 5%;
    width: 90%;*/
}

#vitrine-paragrafo {
    background: linear-gradient(225deg, #079D56 0%, #006B3F 100%);
    border-radius: 32px;
    width: 800px;
    height: 200px;

    color: #fff;
    font-size: 350%;
    font-style: normal;
    padding: 70px 100px;
}

#vitrine img {
    width: 800px;
    height: 350px;
    border-radius: 32px;
    flex-grow: 1;
}

#caminho {
    margin-top: 2%;
}

#caminho p {
    font-weight: bold;
}

#caminho p a {
    color: #006B3F;
    text-decoration: underline;
}

#novas-oportunidades {
    margin: 3% 0%;
    width: 30%;
    font-size: 18px;
}

#novas-oportunidades button {
    background-color: #006B3F;
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    width: 150px;
    height: 50px;
    font-size: 17px;
    
}

#novas-oportunidades button:hover,
#novas-oportunidades button:focus {
    cursor: pointer;
}

#marcas {
    padding: 150px;
    align-items: center;
    margin-left: auto;
}

#marcas-mrv {
    color: #006B3F;
    font-weight: bold;
    font-size: 35px;
}

#marcas-eco {
    color: #F18815;
    font-weight: bold;
    font-size: 35px;
}

#marcas-e {
    font-weight: normal;
    font-size: 25px;
}

.marcas-logo {
    width: 20%;
    padding: 15px;
    border: 2px solid #006B3F;
    border-radius: 10px;
}

#valores div div details {
    padding: 15px 0px;
    border-bottom: 2px solid #006B3F;
}

#valores div div details summary {
    list-style: none;
    color: #006B3F;
    font-weight: bold;
}

#espaco {
    padding: 150px;
    align-items: center;
    margin-left: auto;
}

#carousel div div img {
    border-radius: 20px;
}

#carousel a {
    background-color: #006B3F;
    height: 40px;
    top: 50%;
    width: 40px;
}

#espaco div h1 {
    font-size: 40px;
    padding-bottom: 15px;
}

#conheca-nosso-espaco {
    padding-left: 150px;
}

#tour-virtual {
    text-decoration: underline;
    font-weight: bold;
}

#tour-virtual:hover,
#tour-virtual:focus {
    cursor: pointer;
}